@page "/download"
@rendermode InteractiveServer

@using SalesSheetConverter.Web.Services
@using SalesSheetConverter.Web.Spinner
@using SalesSheetConverter.Web.Models

@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject IHttpClientFactory HttpClientFactory
@inject IUploadService UploadService
@inject ISpinnerProvider SpinnerProvider
@inject IFileTransferService FileTransferService
@inject NavigationManager Navigation

<h3>Download Starting</h3>

<p>Please wait while the images are being processed...</p>

<br /><br />

@if (SpinnerProvider.IsBusy){
    <div id="page-loader">
        <div class="spinner"></div>
    </div>
}

@if (!string.IsNullOrWhiteSpace(_result))
{
    <h4>@_result</h4>
}

@code {
    [SupplyParameterFromQuery(Name = "sessionId")]
    public string? SessionId { get; set; }

    private string? _result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) {
            return;
        }

        if (!Guid.TryParse(SessionId, out var parsedSessionId))
        {
            Navigation.NavigateTo("/");
            return;
        }

        FileTransferRequest? _request = await FileTransferService.TryGetAsync(parsedSessionId);

        try{
            if (_request is null || _request.Files.Count == 0)
            {
                Navigation.NavigateTo("/");
                return;
            }

            SpinnerProvider.Wait();
            _result = await UploadService.Upload(_request.Files);
        }
        finally
        {
            if(_request is not null) {
                await FileTransferService.RemoveAsync(_request.SessionId);
            }
            SpinnerProvider.Resume();
        }
    }
    protected override void OnInitialized()
    {
        SpinnerProvider.OnSpinnerStateChanged += HandleSpinnerChanged;
    }

    private void HandleSpinnerChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        //TODO: Test to make sure you can't 'escape' the finally above and navigate away without removing the files.
        SpinnerProvider.OnSpinnerStateChanged -= HandleSpinnerChanged;
    }
}